{%- assign data=include.data %}

{%- unless data %}
{%- assign err_msg = "empty data" %}
{{- err_msg | raise_error }}
{%- endunless %}

<div class="benefits__wrap">
    <div class="benefits__title block__title">{{ data.title[page.lang] }}</div>
    {% if data.image %}<div class="benefits__title block__image"><img src="{{ data.image}}" alt="{{ data.title[page.lang] }}"></div>{% endif %}
    <div class="benefits__grid">
        <ul class="benefits__grid--list">
            {%  for item in data.items %}
            <li class="benefits__grid--item card card--gear">
                <svg class="card__pic">
                    <use xlink:href="{{ item.image }}"></use>
                </svg>
                <div class="card__title block__subtitle">{{ item.title[page.lang] }}</div>
                <p>{{ item.content[page.lang] }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>